*,
*:before,
*:after {
  box-sizing: border-box;
}

#drawer {
  z-index: 2;
  min-width: 300px;
}
body {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
#LoginForm {
  background: none;
}
nav a{
  color: yellow;
}

h1 {
  font-size: 10vw;
  margin:5px;
  box-shadow: 0 0 3px 3px black;
  background-color: rgb(255,255,255,0.9);
  text-align: center;
}

form {
  max-width: 500px;
  overflow: auto;
}

.dark_blue{
  background-color: #2A457A;
}

.light_blue {
  background-color: #099DD9;
  height: 100%;
}


a#menu svg{
  width: 35px;
  fill: #000;
  display: inline;
}


html, body {
  margin: 0;
  padding: 0;
}


html, body, main{
  height: 100%;
  width: 100%;
}

main {
  background-image: url('bg.png');
}

nav, main {
  padding: 1em;
  min-width: 300px;
  box-sizing: border-box;
}

nav {
  width: 300px;
  color: white;
  height: 100%;
  min-width: 300px;
  position: absolute;
  transform: translate(-300px,0);
  transition: transform .3s ease;
}
.openright {
  right: 0;
}

#LoginScreen {
    transition: transform .3s ease;

    width: 30em;
    right: -30em;

}

nav.open {
  transform: translate(0,0);
}

@media screen and (min-width: 950px) {
  h1{
    font-size: 6em;
  }

}
@media screen and (min-width: 600px) {
  a#menu svg{
    display: none;
  }


  nav{
    position: relative;
    transform: translate(0,0);

  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  main {
    width: 100%;
    height: 100%;
  }

}





form {

  width: 100%;
  margin: 2em auto;
  font-size: 22px;
  background-color: rgb(255,255,255,0.95);

}

form legend {
  font-size: 2em;
  margin-bottom: .2em;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 0.1px 0px wheat;


}


.form-element {
  float: left;
  padding: 2px;
  margin: 0 10px;
  position: relative;
  width: calc(100% - 20px);
  border-bottom: 1px solid #ddd;
  padding-top: 23px;
  padding-bottom: 10px;

}

.label-float .form-element.small {
  width: 30%;
  border-right: 1px solid #ddd;
}

.label-float .form-element.medium {
  width: 70%;
  padding-left: 10px;
}

.label-float .form-element:last-child {

  border: 1;
}

.label-float input,
.label-float select {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
}
.label-float input + label,
.label-float select + label{
  position: absolute;
  top: 10px;
  transition: top 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 15px;
  font-weight: 600;
  color: #bbaaaa;
}

#LoginNow form legend {
  box-shadow: none;
  border-bottom: none;
}
#LoginNow form input[type=text],
#LoginNow form input[type=password] {
  background-color: #2A457A;
  color: white;

}
#LoginNow ::placeholder {
  color: white;
}
nav {
  word-break: break-word;
}
nav h2{
  font-size: 50px;
}

nav a {
  font-size: 30px;
  margin: 10px;
  display: inline-block;

}

.label-float .day label {
  opacity: 1;
  width: auto;
  font-size: 20px;
  position: relative;
}
.label-float .days {
width: 50%;
margin: auto;
padding-bottom: 10px;
}
#RememberMe {
  margin: 10px;
}

#LoginForm {
  max-width: 450px;
  margin: auto;
}
.label-float .day {
display: flex;
}


.label-float .day input {
  opacity: 1;
  width: auto;
  position: relative;
}


#DOJ{
  opacity: 1;
}


.label-float input:valid + label,
.label-float textarea:valid + label,
.label-float select:valid + label {
  opacity: 1;
  top: 3px;
}


.label-float input:focus + label,
.label-float textarea:focus + label,
.label-float select:focus + label
 {
  color: #2c8efe;
 }

#Submit {
  padding: 5px;
  width: 80%;
  margin: auto;
  font-weight: 700;
  border-radius: 10px;
}

#Submit:hover {
  background-color: #02a502;
  color: white;
}

input, select {

  font-family: 'Raleway', sans-serif;
  font-size: 22px;

}
::placeholder{
  font-family: 'Raleway', sans-serif;
}
