<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Exo|Parisienne" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'ticket.css')}}">

    <title>Passengers List</title>
  </head>
  <body>
    <header>
      Passengers List
    </header>
    <main>
      <h2>Flight Details</h2>
      <table class="FlightDetails">
        <tr><td class="Boldit">From:</td><td>{{ flight['FROM'] }}</td></tr>
        <tr><td class="Boldit">To:</td><td>{{ flight['TO'] }}</td></tr>
        <tr><td class="Boldit">Airline Code:</td><td>{{ flight['AIRLINE_CODE'] }}</td></tr>
        <tr><td class="Boldit">Flight no:</td><td>{{ flight['FLIGHT_NUMBER'] }}</td></tr>
        <tr><td class="Boldit"> Date :</td><td> {{ flight['DATE'] }} </td></tr>
        <tr><td class="Boldit"> departure time:</td><td>{{ flight['DEPARTURE_TIME'] }}</td></tr>
        <tr><td class="Boldit">Arrival time:</td><td>{{ flight['ARRIVAL_TIME'] }}</td></tr>
      </table>
      <h2>passengers details</h2>
      <div class="PassengerDetails">
        <table>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Seat No.</th>
          </tr>
          {% for i in passengers%}
          <tr>
            <td>{{i['NAME']}}</td>
            <td>{{i['AGE']}}</td>
            <td>{{i['GENDER']}}</td>
            <td>{{i['SEAT_NUMBER']}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
    <footer>
      <button id="PrintIt" onclick="window.print()">Print List 🖶</button>
    </footer>
  </body>
</html>
